<H1 align = 'center'> Listado de APIS</H1>

<div class="container">
  <table class="table table-striped table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Key</th>
      </tr>
    </thead>
    <tbody>
      <% @apis.each do |api| %>
        <tr>
          <td> <%= api.email %></td>
          <td><%= api.key %></td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>


<%= link_to 'Crear API', new_api_path %> | 
<%= link_to 'Conseguir duplicados', find_dup_path %>
